/*area相关*/
.xsr-area-input{border-bottom:1px #ddd solid;cursor:pointer;position: relative;}
.xsr-area-selector{display:none;position: absolute;background: #fff;width: 600px;min-height:400px;display: block;z-index: 1000;}
.xsr-area-panel{padding:0;min-height:200px;padding-bottom: 20px;}
.xsr-area-panel table{padding:0;height:100%;width:100%;table-layout: fixed;}
.xsr-area-panel td{}
.xsr-area-panel td a{display: block;}
.xsr-area-panel td.area-center{height:100%;vertical-align: top;padding-top:15px;}
.xsr-area-panel td.area-center div{display: none;font-size: 14px;}
.xsr-area-panel td.area-center a{padding:10px 20px;width:80px;display: inline-block;color: #555;text-decoration: none;}
.xsr-area-panel td.area-center a:hover{color: #18B4D6;background: #f3f3f3;}
.xsr-area-panel td.area-center a.active{color: #fff;background: #18B4D6;}
.xsr-area-panel td.turn-left,.xsr-area-panel td.turn-right{vertical-align:middle;height:100%;width: 40px;text-align: center;cursor:pointer;}
.xsr-area-panel td.turn-left a,.xsr-area-panel td.turn-right a{color:#777;font-size: 20px;text-decoration:none;background: #f1f1f1;padding:20px 10px;font-weight: bold;}
.xsr-area-panel td.turn-left a:hover,.xsr-area-panel td.turn-right a:hover{background: #18B4D6;color: #fff;}
.xsr-area-result{line-height: 35px;border-bottom: 1px #ddd dashed; padding:5px 20px;}
.xsr-area-result td{font-size: 14px;}
.xsr-area-result #area-result-td{background: #fafafa;}
.xsr-area-result a{margin-left: 10px;color: #0000cc;display: inline-block;font-size: 14px;}
.xsr-area-result a:hover{color: #18B4D6;}
.xsr-area-input-item{background:#fff;position:relative;padding:2px 20px;margin:3px;display: inline-block;border:1px solid #ddd;}
.xsr-area-input-item a{border-radius: 12px;text-decoration:none;position: absolute;background-color: #f1f1f1;color:#18B4D6;top: -8px;padding: 0px 6px;right: -6px;cursor: pointer;font-size:0.5em;}
.xsr-area-input-item a:hover{background-color: #3e3e3e;color:#fff;}

/*position相关*/
.xsr-position-input{border:1px #ddd solid;background:#fff;cursor:pointer;position: relative;}
.xsr-industry-select{padding: 10px 20px;}
.xsr-industry-select select{min-height:25px;min-width: 150px;margin-right:10px;}
.xsr-position-selector{display:none;position: absolute;background: #fff;width: 800px;min-height:400px;display: block;z-index: 1000;}
.xsr-position-panel{padding:0;min-height:100px;overflow-y: auto;padding-bottom: 20px;}
.xsr-position-panel table{padding:0;height:100%;width:100%;table-layout: fixed;}
.xsr-position-panel td{}
.xsr-position-panel td a{display: block;}
.xsr-position-panel td.position-center{height:100%;vertical-align: top;padding-top:15px;}
.xsr-position-panel td.position-center div{display: none;}
.xsr-position-panel td.position-center a{padding:10px 20px;width:180px;color:#333;display: inline-block;color: #555;text-decoration: none;}
.xsr-position-panel td.position-center a:hover{color: #18B4D6;background: #f3f3f3;}
.xsr-position-panel td.position-center a.active{color: #fff;background: #18B4D6;}
.xsr-position-panel td.turn-left,.xsr-position-panel td.turn-right{vertical-align:top;padding-top: 120px;height:100%;width: 40px;text-align: center;cursor:pointer;}
.xsr-position-panel td.turn-left a,.xsr-position-panel td.turn-right a{color:#777;font-size: 20px;text-decoration:none;background: #f1f1f1;padding:20px 10px;font-weight: bold;}
.xsr-position-panel td.turn-left a:hover,.xsr-position-panel td.turn-right a:hover{background: #18B4D6;color: #fff;}
.xsr-position-result{line-height: 35px;border-bottom: 1px #ddd dashed; padding:5px 20px;}
.xsr-position-result a{margin-left: 10px;color: #0000cc;display: inline-block;}
.xsr-position-result a:hover{color: #18B4D6;}
.xsr-position-input-item{position:relative;padding:2px 20px;margin:3px;display: inline-block;border:1px solid #ddd;}
.xsr-position-input-item a{border-radius: 12px;text-decoration:none;position: absolute;background-color: #f1f1f1;color:#18B4D6;top: -8px;padding: 0px 6px;right: -6px;cursor: pointer;font-size:0.5em;}
.xsr-position-input-item a:hover{background-color: #3e3e3e;color:#fff;}

/*industry相关*/
.xsr-industry-input{border:1px #ddd solid;background:#fff;cursor:pointer;position: relative;}
.xsr-industry-selector{display:none;position: absolute;background: #fff;width: 600px;min-height:300px;display: block;z-index: 1000;}
.xsr-industry-panel{padding:0;min-height:200px;padding-bottom: 20px;}
.xsr-industry-panel table{padding:0;height:100%;width:100%;table-layout: fixed;}
.xsr-industry-panel td{}
.xsr-industry-panel td a{display: block;}
.xsr-industry-panel td.industry-center{height:100%;vertical-align: top;padding-top:15px;}
.xsr-industry-panel td.industry-center div{display: none;}
.xsr-industry-panel td.industry-center a{padding:10px 20px;width:180px;display: inline-block;color: #555;text-decoration: none;}
.xsr-industry-panel td.industry-center a:hover{color: #18B4D6;background: #f3f3f3;}
.xsr-industry-panel td.industry-center a.active{color: #fff;background: #18B4D6;}
.xsr-industry-panel td.turn-left,.xsr-industry-panel td.turn-right{vertical-align:middle;height:100%;width: 40px;text-align: center;cursor:pointer;}
.xsr-industry-panel td.turn-left a,.xsr-industry-panel td.turn-right a{color:#777;font-size: 20px;text-decoration:none;background: #f1f1f1;padding:20px 10px;font-weight: bold;}
.xsr-industry-panel td.turn-left a:hover,.xsr-industry-panel td.turn-right a:hover{background: #18B4D6;color: #fff;}
.xsr-industry-result{line-height: 35px;border-bottom: 1px #ddd dashed; padding:5px 20px;}
.xsr-industry-result a{margin-left: 10px;color: #0000cc;display: inline-block;}
.xsr-industry-result a:hover{color: #18B4D6;}
.xsr-industry-input-item{position:relative;padding:2px 20px;margin:3px;display: inline-block;border:1px solid #ddd;}
.xsr-industry-input-item a{border-radius: 12px;text-decoration:none;position: absolute;background-color: #f1f1f1;color:#18B4D6;top: -8px;padding: 0px 6px;right: -6px;cursor: pointer;font-size:0.5em;}
.xsr-industry-input-item a:hover{background-color: #3e3e3e;color:#fff;}

